# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\deploy\pub-java-sdk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
